
<div class="container p">
<p style="color: green"><%= notice %></p>

<h1>Friends List</h1>

<div id="friends" class="d-md-flex flex-wrap justify-content-around">
  <% @friends.each do |friend| %>
    <%= render friend %>
    
    
    
  <% end %>
</div>

<%= link_to "New friend", new_friend_path ,class:"btn btn-secondary m" %>
</div>

